.button-modifier {
    -fx-background-color: linear-gradient(#7ebcea, #2f4b8f);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5 22 5 22;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.button-modifier:hover {
    -fx-background-color: linear-gradient(#2f4b8f, #1d2f5c);
}
