.curved-hbox {
    -fx-background-color: #abdbe3; /* Example background color */
    -fx-border-color: black; /* Example border color */
    -fx-border-width: 1; /* Example border width */
    -fx-border-radius: 15px; /* Adjust this value to change the curvature */
    -fx-background-radius: 15px; /* This should match the border-radius for a consistent look */
}

.text-field, .date-picker9 {
    -fx-padding: 3px;
    -fx-border-radius: 5px;
    -fx-border-color: #C0C0C0;
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
}

.text-field, .date-picker9 {
    -fx-padding: 3px;
    -fx-border-radius: 5px;
    -fx-border-color: #C0C0C0;
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
}

.button9 {
    -fx-background-color:
            linear-gradient(#585e52, #978d9d),
            radial-gradient(center 50% -40%, radius 200%, #5cb094 45%, rgba(255,255,255,0) 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-size: 12px;
    -fx-padding: 5px 9px;
}
.button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.text-field2 {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    outline: none;
    width: 250px; /* You can adjust the width as needed */
}

.table-view {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #ea0f0f;
}
